@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
/* * {
    border: 1px solid blue;
} */
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align:center;
}
#background {
    height: 725px;
    background-color: #242423;
}
body {
    background-color: #fcfbfb;
    color: #242423;
    
}
header {
    background-color:#2424233d;
}
nav a:hover {
    background-color: #F5CB5C;
    color: #242423;
}
.book:hover, .join:hover {
    background-color: #242423;
    color: #F5CB5C;
}
.book, .join {
    color: #242423;
    background-color: #F5CB5C;
}
nav a{
    color: #242423;
}
footer p a {
    color: #F5CB5C;
}
footer p a:hover {
    background-color: #F5CB5C;
    color: #242423;
}
.social {
    background-color: #242423;
    color: #242423;
}
.icon, .logo {
    width: 80px;
}
#hero img {
    width: 100%;
}
nav a, .book, .join, footer a {
    text-align: center;
    color: #242423;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}   
nav a {
    color: #F5CB5C;
}
.msg {
    background-color: #333533;
    color: #F5CB5C;
    line-height: 1.5em;
    }
footer {
    background-color: #242423;
    color: #F5CB5C;
    margin-top: 200px
}
body {
    font-family: Rowdies, Arial, Helvetica;
    margin: 0;
    padding: 0;
}
.msg p {
    font-family: Roboto, Arial, Helvetica;
    font-size: .8em;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
}
.book, .join {
    font-size: 18px;
    margin-top: 50px;
}
h2 {
    margin: 0;
}
#logo_link {
 padding-top: 5px;
} 
nav a {
    padding: 35px;
}
.book, .join {
    padding: 15px 30px;
    border-radius: 5px;
}
.icon {
    padding-top: 10px;
}
.msg {   
    padding: 35px;
}
.msg p {   
    padding-bottom: 15px;
}
footer {   
    padding: 25px 50px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.join {
    color: #242423;
    background-color: #F5CB5C;
}
.join:hover {
    background-color: #fcfbfb;
    color: #242423;
}
.card-img {
    border: 10px solid #242423;
}
main section img {
    box-sizing: border-box;
}
.msg {
    margin-top: 200px;
}
#background {
    margin-bottom: 100px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg {
    color: white;
    letter-spacing: 1.5px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-img {
    border: 10px solid #242423;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.header {
    background-color: #242423;
    width: 100%;
}
.salmon_river {
    float: right;
    width: 300px;
    height: 200px;
    margin-top: 20px;
}
.rivers_main {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}
.desolation {
    float: right;
    width: 300px;
    height: 200px;
    margin-top: 20px;
}
.grand_canyon {
    float: right;
    width: 300px;
    height: 200px;
    margin-top: 20px;
}
.second {
    margin-top: 50px;
}
.first {
    margin-top: 50px;
}
.third {
    margin-top: 50px;
}
.rivers_body {
    background-color: #333533;
    color: #F5CB5C;
}
.rivers_main h1 {
    color: #fcfbfb;
}
.header_text {
    text-align: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
        background-color: #242423;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #242423;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    header {
        background-color: #242423;
    }
}